fastapi>=0.68.0
uvicorn>=0.15.0
Pillow>=8.2.0
python-multipart>=0.0.5
aiofiles>=0.8.0
pydantic>=1.8.2
jyutping2characters>=0.1.0
opencv-python==4.12.0.88
numpy==2.2.6
torch==2.9.1
ultralytics==8.3.235